In [1]:
# data_preparation
# Importing Necessary Libraries
import pandas as pd
import nltk
import re
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [2]:
# Download necessary NLTK data
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to C:\Users\Mayimunah
[nltk_data]     Nagayi\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to C:\Users\Mayimunah
[nltk_data]     Nagayi\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [3]:
# Reading the CSV files
df1 = pd.read_csv('Tweets.csv') #kaggle
df2 = pd.read_csv('test.csv')#Article

In [4]:
print("DATASET 1")
print(df1.tail())

DATASET 1
           textID                                               text  \
27476  4eac33d1c0   wish we could come see u on Denver  husband l...
27477  4f4c4fc327   I`ve wondered about rake to.  The client has ...
27478  f67aae2310   Yay good for both of you. Enjoy the break - y...
27479  ed167662a5                         But it was worth it  ****.
27480  6f7127d9d7     All this flirting going on - The ATG smiles...

                                           selected_text sentiment
27476                                             d lost  negative
27477                                      , don`t force  negative
27478                          Yay good for both of you.  positive
27479                         But it was worth it  ****.  positive
27480  All this flirting going on - The ATG smiles. Y...   neutral

In [5]:
print("DATASET 2")
print(df2.tail())

DATASET 2
     original_index                sid  \
495            8908  twitter-test-8909
496            2517  twitter-test-2518
497            5224  twitter-test-5225
498            2995  twitter-test-2996
499            1825  twitter-test-1826

                                                  text  label label_text
495  Fire broke out in one of the #Palestinian shop...      1    neutral
496  @user Well, I doubt Saakashvili is above rent-...      0   negative
497  @user is it foggy? Foggy and cold in Tipp all ...      0   negative
498  @user really? ðŸ˜¦ Because I'm practicing vegetar...      1    neutral
499  @user @user What trash did you put in that kid...      0   negative

In [6]:
# Merge the two dataframes
merged_df = pd.concat([df1, df2])
print("MERGED DATASET")
print(merged_df.tail())

MERGED DATASET
    textID                                               text selected_text  \
495    NaN  Fire broke out in one of the #Palestinian shop...           NaN
496    NaN  @user Well, I doubt Saakashvili is above rent-...           NaN
497    NaN  @user is it foggy? Foggy and cold in Tipp all ...           NaN
498    NaN  @user really? ðŸ˜¦ Because I'm practicing vegetar...           NaN
499    NaN  @user @user What trash did you put in that kid...           NaN

    sentiment  original_index                sid  label label_text
495       NaN          8908.0  twitter-test-8909    1.0    neutral
496       NaN          2517.0  twitter-test-2518    0.0   negative
497       NaN          5224.0  twitter-test-5225    0.0   negative
498       NaN          2995.0  twitter-test-2996    1.0    neutral
499       NaN          1825.0  twitter-test-1826    0.0   negative

In [7]:
# Remove duplicates from the merged dataframe
merged_df = merged_df.drop_duplicates(subset='text').reset_index(drop=True)

# Select only the 'text' column
merged_df = merged_df[['text']]
merged_df['text'] = merged_df['text'].astype(str)

# Write the merged dataframe to a new CSV file
merged_df.to_csv('merged_file.csv', index=False)

In [8]:
# Function for text cleaning, tokenization, and normalization
def clean_text(text):
    text = re.sub(r'[^A-Za-z\s]', '', text)  # Removing special characters and punctuation
    text = re.sub(r'user', '', text)  # Removing mentions of @user
    tokens = word_tokenize(text)  # Tokenization
    stop_words = set(stopwords.words('english'))
    tokens = [word.lower() for word in tokens if word.lower() not in stop_words]  # Removing stopwords and converting to lowercase
    cleaned_text = ' '.join(tokens)
    return cleaned_text

In [9]:
# Apply the cleaning function to each tweet in the dataframe
merged_df['cleaned_text'] = merged_df['text'].apply(clean_text)

# Save the cleaned data to a new CSV file
merged_df.to_csv('cleaned_tweets.csv', index=False)

merged_df.dropna(subset=['cleaned_text'], inplace=True)

# Display the cleaned and normalized text
print(merged_df['cleaned_text'].head())
print(merged_df['cleaned_text'].tail())

0                          id responded going
1                     sooo sad miss san diego
2                               boss bullying
3                       interview leave alone
4    sons couldnt put releases already bought
Name: cleaned_text, dtype: object
27976    fire broke one palestinian shops occupied jeru...
27977                 well doubt saakashvili rentanangymob
27978                           foggy foggy cold tipp week
27979    really im practicing vegetarianism ive seen li...
27980    trash put kids head shame youor idiot probably...
Name: cleaned_text, dtype: object